default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  variables:
    statement_timeout: 5s
    lock_timeout: 5s

development:
  <<: *default
  database: flash_development

test:
  <<: *default
  database: flash_test

production:
  <<: *default
  database: flash_production
